@charset "utf-8";
/* powerFloat */
.float_ajax_box {
	border: 1px solid #ccc;
	background-color: #fff;
}

.float_loading {
	width: 100px;
	height: 100px;
	background: url(http://www.zhangxinxu.com/study/image/loading.gif) no-repeat center;
}

.float_ajax_image {
	padding: 5px;
}

.float_ajax_error {
	width: 200px;
	padding: 40px 0;
	text-align: center;
}

.float_list_ul {
	margin: 0;
	padding: 1px;
	border: 1px solid #beceeb;
	background-color: #fff;
	font-size: 12px;
	list-style-type: none;
}

.float_list_a {
	display:block;
	text-decoration: none;
}
.float_list_a:hover {
	background-color:#f0f3f9;
	color: #333;
	text-decoration: none;
}

.float_list_ul li {
	line-height: 20px;
	border-top: 1px solid #f0f3f9;
	text-indent: 5px;
}

.float_list_ul li:first-child {
	border-top: 0;
}

.float_list_null {
	padding: 40px 20px;
	text-align: center;
}

.float_remind_box {
	border: 1px solid #F7CE39;
	background: #ffffe0;
	padding: 5px 10px;
}

.float_tip_box {
	line-height: 18px;
	padding: 0 3px;
	background-color: #ffffe0;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	border: 1px solid #333;
	position:absolute;
} 

.float_doing_box {
	border: 1px solid #F7CE39;
	background: #ffffe0 url(http://www.zhangxinxu.com/study/image/loading_s.gif) no-repeat 5px center;
	padding: 5px 10px 5px 25px;
	font-size: 12px;
	position: absolute;
}

.float_corner {
	font-size: 18px;
	font-family: '宋体';
	position: absolute;
	left: -6000px;
	overflow: hidden;
}
.float_corner .corner {
	position: absolute;
}
.float_corner .corner_1 {
	/*可去除*/
	color: #ccc;
}
.float_corner .corner_2 {
	/*可去除*/
	color: #fff;
}
.float_corner_top, .float_corner_bottom {
	width: 16px;
	height: 8px;
}
.float_corner_top {
	line-height: 14px;
}
.float_corner_bottom {
	line-height: 17px;
}
.float_corner_left, .float_corner_right {
	width: 8px;
	height: 16px;
}
.float_corner_top .corner, .float_corner_bottom .corner {
	left: 0;
}
.float_corner_right .corner, .float_corner_left .corner{
	top: -2px;
}
.float_corner_bottom .corner_1 {
}
.float_corner_bottom .corner_2 {
	top: 1px;
}
.float_corner_left .corner_1 {
	right: 0;
}
.float_corner_left .corner_2 {
	right: 1px;
}
.float_corner_top .corner_1 {
	bottom: 0;
}
.float_corner_top .corner_2 {
	bottom: 1px;
}
.float_corner_right .corner_2 {
	left: 1px;
}

/* smartMenu.css	by zhangxinxu */
.smart_menu_box{display:none; width:160px; position:absolute; z-index:201105;}
.smart_menu_body{padding:1px; border:1px solid #B8CBCB; background-color:#fff; -moz-box-shadow:2px 2px 5px #666; -webkit-box-shadow:2px 2px 5px #666; box-shadow:2px 2px 5px #666;border-radius: 3px;}
.smart_menu_ul{margin:0; padding:0; list-style-type:none;}
.smart_menu_li{position:relative;}
.smart_menu_a{display:block; height:25px; line-height:24px; padding:0 5px 0 25px; color:#000; font-size:12px; text-decoration:none; overflow:hidden;}
.smart_menu_a:hover, .smart_menu_a_hover{background-color:#348CCC; color:#fff; text-decoration:none;}
.smart_menu_li_separate{line-height:0; margin:3px; border-bottom:1px solid #B8CBCB; font-size:0;}
.smart_menu_triangle{width:0; height:0; border:5px dashed transparent; border-left:5px solid #666; overflow:hidden; position:absolute; top:7px; right:5px;}
.smart_menu_a:hover .smart_menu_triangle, .smart_menu_a_hover .smart_menu_triangle{border-left-color:#fff;}
.smart_menu_li_hover .smart_menu_box{top:-1px; left:130px;}



/**==============================================
 *  HYUI Basic
 * ============================================== **/
/* * 结构目录 1.重定义浏览器样式 1-1.基本样式重置  1-2.清除浮动 2.整体布局 3.左侧菜单栏 3-1.主菜单列表 3-2.二级菜单 4.内容模块 4-1.顶部导航 4-2.子页面iframe布局 4-2-1.标签左右按钮 4-2-2.子页面iframe 5.iframe页面 5-1.自定义表格表单 5-1-1.表单样式 5-1-2.左右布局 5-1-3.表单单元 5-2.表格 5-2-1.重定义表格页面 5-2-2.表格头部 5-2-3.表格内容 5-2-4.jPage 分页器6.表格表单 */ /* *-----1.重定义浏览器样式------- */ /*1-1.基本样式重置*/
* {
	word-wrap: break-word;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

html, body {
	height: 100%
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
	margin: 0;
	padding: 0
}

body {
	font-family: arial, "宋体", "微软雅黑", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	overflow-x: hidden
}

input, button {
	overflow: visible;
	vertical-align: middle;
	outline: none
}

select {
	width: 100%;
	height: 100%;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #555
}

option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px
}

dt, ul, ol {
	list-style: none
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

img {
	border: none
}

td {
	color: #555
}

a, area {
	color: #000;
	outline: none;
	blr: expression(this.onFocus = this.blur ())
}

a {
	text-decoration: none;
	cursor: pointer
}

a:hover {
	outline: none
}

a.ie6:hover {
	zoom: 1
}

a:focus {
	outline: none
}

a:hover, a:active {
	outline: none
}

:focus {
	outline: none
}

b, strong {
	font-weight: normal
}

/*1-1.清除浮动*/
.cl:after, .clearfix:after {
	content: "\20";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.cl, .clearfix {
	zoom: 1
}

/* * -----2.整体布局------ */
input, label {
	font-size: 12px;
	color: #555
}

label {
	font-weight: normal;
	max-width: none;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #666 !important;
	transition: background-color 5000s ease-in-out 0s
}

input[type=text], input[type=password] {
	text-indent: 2px
}

input[type=radio], input[type=checkbox] {
	margin: 0;
	cursor: pointer
}

.form_content input[readonly] {
	background-color: #f1f1f1
}

.order-info input[readonly] {
	background-color: #f6f5f5
}

textarea[readonly] {
	background-color: #f1f1f1
}

textarea {
	text-indent: 2px;
	overflow-x: hidden;
	border: 1px solid #aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.mar_top10 {
	margin-top: 10px
}

.boot-mar {
	margin-top: -28px;
}

.center {
	text-align: center;
}

/**==============================================
 *  HYUI Font
 * ============================================== **/
@font-face {
  font-family: 'iconhyui';
  src:  url('../fonts/iconhyui.eot?i4o94o');
  src:  url('../fonts/iconhyui.eot?i4o94o#iefix') format('embedded-opentype'),
    url('../fonts/iconhyui.ttf?i4o94o') format('truetype'),
    url('../fonts/iconhyui.woff?i4o94o') format('woff'),
    url('../fonts/iconhyui.svg?i4o94o#iconhyui') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconhyui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ygj:before {
  content: "\e900";
}
.icon-qq-logo .path1:before {
  content: "\e901";
  color: rgb(238, 127, 0);
}
.icon-qq-logo .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(11, 14, 16);
}
.icon-qq-logo .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-qq-logo .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 57, 46);
}
.icon-qq-logo .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(221, 44, 0);
}
.icon-qq-logo .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(238, 180, 0);
}
.icon-qq-logo .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 57, 46);
}
.icon-wx-logo:before {
  content: "\e908";
  color: #4fb33f;
}
.icon-menu-basicsetting:before {
  content: "\e909";
}
.icon-menu-finance:before {
  content: "\e90a";
}
.icon-menu-manager:before {
  content: "\e90b";
}
.icon-menu-oem:before {
  content: "\e90c";
}
.icon-menu-offer:before {
  content: "\e90d";
}
.icon-menu-outsource:before {
  content: "\e90e";
}
.icon-menu-produce:before {
  content: "\e90f";
}
.icon-menu-purch:before {
  content: "\e910";
}
.icon-menu-sale:before {
  content: "\e911";
}
.icon-menu-stock:before {
  content: "\e912";
}
.icon-menu-sys:before {
  content: "\e913";
}
.icon-top-cart:before {
  content: "\e914";
}
.icon-top-counsel:before {
  content: "\e915";
}
.icon-top-guide:before {
  content: "\e916";
}
.icon-top-setting:before {
  content: "\e917";
}
.icon-qq:before {
  content: "\e918";
}
.icon-wx:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91a";
}
.icon-home2:before {
  content: "\e91b";
}
.icon-home3:before {
  content: "\e91c";
}
.icon-office:before {
  content: "\e91d";
}
.icon-newspaper:before {
  content: "\e91e";
}
.icon-pencil:before {
  content: "\e91f";
}
.icon-pencil2:before {
  content: "\e920";
}
.icon-quill:before {
  content: "\e921";
}
.icon-pen:before {
  content: "\e922";
}
.icon-blog:before {
  content: "\e923";
}
.icon-eyedropper:before {
  content: "\e924";
}
.icon-droplet:before {
  content: "\e925";
}
.icon-paint-format:before {
  content: "\e926";
}
.icon-image:before {
  content: "\e927";
}
.icon-images:before {
  content: "\e928";
}
.icon-camera:before {
  content: "\e929";
}
.icon-headphones:before {
  content: "\e92a";
}
.icon-music:before {
  content: "\e92b";
}
.icon-play:before {
  content: "\e92c";
}
.icon-film:before {
  content: "\e92d";
}
.icon-video-camera:before {
  content: "\e92e";
}
.icon-dice:before {
  content: "\e92f";
}
.icon-pacman:before {
  content: "\e930";
}
.icon-spades:before {
  content: "\e931";
}
.icon-clubs:before {
  content: "\e932";
}
.icon-diamonds:before {
  content: "\e933";
}
.icon-bullhorn:before {
  content: "\e934";
}
.icon-connection:before {
  content: "\e935";
}
.icon-podcast:before {
  content: "\e936";
}
.icon-feed:before {
  content: "\e937";
}
.icon-mic:before {
  content: "\e938";
}
.icon-book:before {
  content: "\e939";
}
.icon-books:before {
  content: "\e93a";
}
.icon-library:before {
  content: "\e93b";
}
.icon-file-text:before {
  content: "\e93c";
}
.icon-profile:before {
  content: "\e93d";
}
.icon-file-empty:before {
  content: "\e93e";
}
.icon-files-empty:before {
  content: "\e93f";
}
.icon-file-text2:before {
  content: "\e940";
}
.icon-file-picture:before {
  content: "\e941";
}
.icon-file-music:before {
  content: "\e942";
}
.icon-file-play:before {
  content: "\e943";
}
.icon-file-video:before {
  content: "\e944";
}
.icon-file-zip:before {
  content: "\e945";
}
.icon-copy:before {
  content: "\e946";
}
.icon-paste:before {
  content: "\e947";
}
.icon-stack:before {
  content: "\e948";
}
.icon-folder:before {
  content: "\e949";
}
.icon-folder-open:before {
  content: "\e94a";
}
.icon-folder-plus:before {
  content: "\e94b";
}
.icon-folder-minus:before {
  content: "\e94c";
}
.icon-folder-download:before {
  content: "\e94d";
}
.icon-folder-upload:before {
  content: "\e94e";
}
.icon-price-tag:before {
  content: "\e94f";
}
.icon-price-tags:before {
  content: "\e950";
}
.icon-barcode:before {
  content: "\e951";
}
.icon-qrcode:before {
  content: "\e952";
}
.icon-ticket:before {
  content: "\e953";
}
.icon-cart:before {
  content: "\e954";
}
.icon-coin-dollar:before {
  content: "\e955";
}
.icon-coin-euro:before {
  content: "\e956";
}
.icon-coin-pound:before {
  content: "\e957";
}
.icon-coin-yen:before {
  content: "\e958";
}
.icon-credit-card:before {
  content: "\e959";
}
.icon-calculator:before {
  content: "\e95a";
}
.icon-lifebuoy:before {
  content: "\e95b";
}
.icon-phone:before {
  content: "\e95c";
}
.icon-phone-hang-up:before {
  content: "\e95d";
}
.icon-address-book:before {
  content: "\e95e";
}
.icon-envelop:before {
  content: "\e95f";
}
.icon-pushpin:before {
  content: "\e960";
}
.icon-location:before {
  content: "\e961";
}
.icon-location2:before {
  content: "\e962";
}
.icon-compass:before {
  content: "\e963";
}
.icon-compass2:before {
  content: "\e964";
}
.icon-map:before {
  content: "\e965";
}
.icon-map2:before {
  content: "\e966";
}
.icon-history:before {
  content: "\e967";
}
.icon-clock:before {
  content: "\e968";
}
.icon-clock2:before {
  content: "\e969";
}
.icon-alarm:before {
  content: "\e96a";
}
.icon-bell:before {
  content: "\e96b";
}
.icon-stopwatch:before {
  content: "\e96c";
}
.icon-calendar:before {
  content: "\e96d";
}
.icon-printer:before {
  content: "\e96e";
}
.icon-keyboard:before {
  content: "\e96f";
}
.icon-display:before {
  content: "\e970";
}
.icon-laptop:before {
  content: "\e971";
}
.icon-mobile:before {
  content: "\e972";
}
.icon-mobile2:before {
  content: "\e973";
}
.icon-tablet:before {
  content: "\e974";
}
.icon-tv:before {
  content: "\e975";
}
.icon-drawer:before {
  content: "\e976";
}
.icon-drawer2:before {
  content: "\e977";
}
.icon-box-add:before {
  content: "\e978";
}
.icon-box-remove:before {
  content: "\e979";
}
.icon-download:before {
  content: "\e97a";
}
.icon-upload:before {
  content: "\e97b";
}
.icon-floppy-disk:before {
  content: "\e97c";
}
.icon-drive:before {
  content: "\e97d";
}
.icon-database:before {
  content: "\e97e";
}
.icon-undo:before {
  content: "\e97f";
}
.icon-redo:before {
  content: "\e980";
}
.icon-undo2:before {
  content: "\e981";
}
.icon-redo2:before {
  content: "\e982";
}
.icon-forward:before {
  content: "\e983";
}
.icon-reply:before {
  content: "\e984";
}
.icon-bubble:before {
  content: "\e985";
}
.icon-bubbles:before {
  content: "\e986";
}
.icon-bubbles2:before {
  content: "\e987";
}
.icon-bubble2:before {
  content: "\e988";
}
.icon-bubbles3:before {
  content: "\e989";
}
.icon-bubbles4:before {
  content: "\e98a";
}
.icon-user:before {
  content: "\e98b";
}
.icon-users:before {
  content: "\e98c";
}
.icon-user-plus:before {
  content: "\e98d";
}
.icon-user-minus:before {
  content: "\e98e";
}
.icon-user-check:before {
  content: "\e98f";
}
.icon-user-tie:before {
  content: "\e990";
}
.icon-quotes-left:before {
  content: "\e991";
}
.icon-quotes-right:before {
  content: "\e992";
}
.icon-hour-glass:before {
  content: "\e993";
}
.icon-spinner:before {
  content: "\e994";
}
.icon-spinner2:before {
  content: "\e995";
}
.icon-spinner3:before {
  content: "\e996";
}
.icon-spinner4:before {
  content: "\e997";
}
.icon-spinner5:before {
  content: "\e998";
}
.icon-spinner6:before {
  content: "\e999";
}
.icon-spinner7:before {
  content: "\e99a";
}
.icon-spinner8:before {
  content: "\e99b";
}
.icon-spinner9:before {
  content: "\e99c";
}
.icon-spinner10:before {
  content: "\e99d";
}
.icon-spinner11:before {
  content: "\e99e";
}
.icon-binoculars:before {
  content: "\e99f";
}
.icon-search:before {
  content: "\e9a0";
}
.icon-zoom-in:before {
  content: "\e9a1";
}
.icon-zoom-out:before {
  content: "\e9a2";
}
.icon-enlarge:before {
  content: "\e9a3";
}
.icon-shrink:before {
  content: "\e9a4";
}
.icon-enlarge2:before {
  content: "\e9a5";
}
.icon-shrink2:before {
  content: "\e9a6";
}
.icon-key:before {
  content: "\e9a7";
}
.icon-key2:before {
  content: "\e9a8";
}
.icon-lock:before {
  content: "\e9a9";
}
.icon-unlocked:before {
  content: "\e9aa";
}
.icon-wrench:before {
  content: "\e9ab";
}
.icon-equalizer:before {
  content: "\e9ac";
}
.icon-equalizer2:before {
  content: "\e9ad";
}
.icon-cog:before {
  content: "\e9ae";
}
.icon-cogs:before {
  content: "\e9af";
}
.icon-hammer:before {
  content: "\e9b0";
}
.icon-magic-wand:before {
  content: "\e9b1";
}
.icon-aid-kit:before {
  content: "\e9b2";
}
.icon-bug:before {
  content: "\e9b3";
}
.icon-pie-chart:before {
  content: "\e9b4";
}
.icon-stats-dots:before {
  content: "\e9b5";
}
.icon-stats-bars:before {
  content: "\e9b6";
}
.icon-stats-bars2:before {
  content: "\e9b7";
}
.icon-trophy:before {
  content: "\e9b8";
}
.icon-gift:before {
  content: "\e9b9";
}
.icon-glass:before {
  content: "\e9ba";
}
.icon-glass2:before {
  content: "\e9bb";
}
.icon-mug:before {
  content: "\e9bc";
}
.icon-spoon-knife:before {
  content: "\e9bd";
}
.icon-leaf:before {
  content: "\e9be";
}
.icon-rocket:before {
  content: "\e9bf";
}
.icon-meter:before {
  content: "\e9c0";
}
.icon-meter2:before {
  content: "\e9c1";
}
.icon-hammer2:before {
  content: "\e9c2";
}
.icon-fire:before {
  content: "\e9c3";
}
.icon-lab:before {
  content: "\e9c4";
}
.icon-magnet:before {
  content: "\e9c5";
}
.icon-bin:before {
  content: "\e9c6";
}
.icon-bin2:before {
  content: "\e9c7";
}
.icon-briefcase:before {
  content: "\e9c8";
}
.icon-airplane:before {
  content: "\e9c9";
}
.icon-truck:before {
  content: "\e9ca";
}
.icon-road:before {
  content: "\e9cb";
}
.icon-accessibility:before {
  content: "\e9cc";
}
.icon-target:before {
  content: "\e9cd";
}
.icon-shield:before {
  content: "\e9ce";
}
.icon-power:before {
  content: "\e9cf";
}
.icon-switch:before {
  content: "\e9d0";
}
.icon-power-cord:before {
  content: "\e9d1";
}
.icon-clipboard:before {
  content: "\e9d2";
}
.icon-list-numbered:before {
  content: "\e9d3";
}
.icon-list:before {
  content: "\e9d4";
}
.icon-list2:before {
  content: "\e9d5";
}
.icon-tree:before {
  content: "\e9d6";
}
.icon-menu:before {
  content: "\e9d7";
}
.icon-menu2:before {
  content: "\e9d8";
}
.icon-menu3:before {
  content: "\e9d9";
}
.icon-menu4:before {
  content: "\e9da";
}
.icon-cloud:before {
  content: "\e9db";
}
.icon-cloud-download:before {
  content: "\e9dc";
}
.icon-cloud-upload:before {
  content: "\e9dd";
}
.icon-cloud-check:before {
  content: "\e9de";
}
.icon-download2:before {
  content: "\e9df";
}
.icon-upload2:before {
  content: "\e9e0";
}
.icon-download3:before {
  content: "\e9e1";
}
.icon-upload3:before {
  content: "\e9e2";
}
.icon-sphere:before {
  content: "\e9e3";
}
.icon-earth:before {
  content: "\e9e4";
}
.icon-link:before {
  content: "\e9e5";
}
.icon-flag:before {
  content: "\e9e6";
}
.icon-attachment:before {
  content: "\e9e7";
}
.icon-eye:before {
  content: "\e9e8";
}
.icon-eye-plus:before {
  content: "\e9e9";
}
.icon-eye-minus:before {
  content: "\e9ea";
}
.icon-eye-blocked:before {
  content: "\e9eb";
}
.icon-bookmark:before {
  content: "\e9ec";
}
.icon-bookmarks:before {
  content: "\e9ed";
}
.icon-sun:before {
  content: "\e9ee";
}
.icon-contrast:before {
  content: "\e9ef";
}
.icon-brightness-contrast:before {
  content: "\e9f0";
}
.icon-star-empty:before {
  content: "\e9f1";
}
.icon-star-half:before {
  content: "\e9f2";
}
.icon-star-full:before {
  content: "\e9f3";
}
.icon-heart:before {
  content: "\e9f4";
}
.icon-heart-broken:before {
  content: "\e9f5";
}
.icon-man:before {
  content: "\e9f6";
}
.icon-woman:before {
  content: "\e9f7";
}
.icon-man-woman:before {
  content: "\e9f8";
}
.icon-happy:before {
  content: "\e9f9";
}
.icon-happy2:before {
  content: "\e9fa";
}
.icon-smile:before {
  content: "\e9fb";
}
.icon-smile2:before {
  content: "\e9fc";
}
.icon-tongue:before {
  content: "\e9fd";
}
.icon-tongue2:before {
  content: "\e9fe";
}
.icon-sad:before {
  content: "\e9ff";
}
.icon-sad2:before {
  content: "\ea00";
}
.icon-wink:before {
  content: "\ea01";
}
.icon-wink2:before {
  content: "\ea02";
}
.icon-grin:before {
  content: "\ea03";
}
.icon-grin2:before {
  content: "\ea04";
}
.icon-cool:before {
  content: "\ea05";
}
.icon-cool2:before {
  content: "\ea06";
}
.icon-angry:before {
  content: "\ea07";
}
.icon-angry2:before {
  content: "\ea08";
}
.icon-evil:before {
  content: "\ea09";
}
.icon-evil2:before {
  content: "\ea0a";
}
.icon-shocked:before {
  content: "\ea0b";
}
.icon-shocked2:before {
  content: "\ea0c";
}
.icon-baffled:before {
  content: "\ea0d";
}
.icon-baffled2:before {
  content: "\ea0e";
}
.icon-confused:before {
  content: "\ea0f";
}
.icon-confused2:before {
  content: "\ea10";
}
.icon-neutral:before {
  content: "\ea11";
}
.icon-neutral2:before {
  content: "\ea12";
}
.icon-hipster:before {
  content: "\ea13";
}
.icon-hipster2:before {
  content: "\ea14";
}
.icon-wondering:before {
  content: "\ea15";
}
.icon-wondering2:before {
  content: "\ea16";
}
.icon-sleepy:before {
  content: "\ea17";
}
.icon-sleepy2:before {
  content: "\ea18";
}
.icon-frustrated:before {
  content: "\ea19";
}
.icon-frustrated2:before {
  content: "\ea1a";
}
.icon-crying:before {
  content: "\ea1b";
}
.icon-crying2:before {
  content: "\ea1c";
}
.icon-point-up:before {
  content: "\ea1d";
}
.icon-point-right:before {
  content: "\ea1e";
}
.icon-point-down:before {
  content: "\ea1f";
}
.icon-point-left:before {
  content: "\ea20";
}
.icon-warning:before {
  content: "\ea21";
}
.icon-notification:before {
  content: "\ea22";
}
.icon-question:before {
  content: "\ea23";
}
.icon-plus:before {
  content: "\ea24";
}
.icon-minus:before {
  content: "\ea25";
}
.icon-info:before {
  content: "\ea26";
}
.icon-cancel-circle:before {
  content: "\ea27";
}
.icon-blocked:before {
  content: "\ea28";
}
.icon-cross:before {
  content: "\ea29";
}
.icon-checkmark:before {
  content: "\ea2a";
}
.icon-checkmark2:before {
  content: "\ea2b";
}
.icon-spell-check:before {
  content: "\ea2c";
}
.icon-enter:before {
  content: "\ea2d";
}
.icon-exit:before {
  content: "\ea2e";
}
.icon-play2:before {
  content: "\ea2f";
}
.icon-pause:before {
  content: "\ea30";
}
.icon-stop:before {
  content: "\ea31";
}
.icon-previous:before {
  content: "\ea32";
}
.icon-next:before {
  content: "\ea33";
}
.icon-backward:before {
  content: "\ea34";
}
.icon-forward2:before {
  content: "\ea35";
}
.icon-play3:before {
  content: "\ea36";
}
.icon-pause2:before {
  content: "\ea37";
}
.icon-stop2:before {
  content: "\ea38";
}
.icon-backward2:before {
  content: "\ea39";
}
.icon-forward3:before {
  content: "\ea3a";
}
.icon-first:before {
  content: "\ea3b";
}
.icon-last:before {
  content: "\ea3c";
}
.icon-previous2:before {
  content: "\ea3d";
}
.icon-next2:before {
  content: "\ea3e";
}
.icon-eject:before {
  content: "\ea3f";
}
.icon-volume-high:before {
  content: "\ea40";
}
.icon-volume-medium:before {
  content: "\ea41";
}
.icon-volume-low:before {
  content: "\ea42";
}
.icon-volume-mute:before {
  content: "\ea43";
}
.icon-volume-mute2:before {
  content: "\ea44";
}
.icon-volume-increase:before {
  content: "\ea45";
}
.icon-volume-decrease:before {
  content: "\ea46";
}
.icon-loop:before {
  content: "\ea47";
}
.icon-loop2:before {
  content: "\ea48";
}
.icon-infinite:before {
  content: "\ea49";
}
.icon-shuffle:before {
  content: "\ea4a";
}
.icon-arrow-up-left:before {
  content: "\ea4b";
}
.icon-arrow-up:before {
  content: "\ea4c";
}
.icon-arrow-up-right:before {
  content: "\ea4d";
}
.icon-arrow-right:before {
  content: "\ea4e";
}
.icon-arrow-down-right:before {
  content: "\ea4f";
}
.icon-arrow-down:before {
  content: "\ea50";
}
.icon-arrow-down-left:before {
  content: "\ea51";
}
.icon-arrow-left:before {
  content: "\ea52";
}
.icon-arrow-up-left2:before {
  content: "\ea53";
}
.icon-arrow-up2:before {
  content: "\ea54";
}
.icon-arrow-up-right2:before {
  content: "\ea55";
}
.icon-arrow-right2:before {
  content: "\ea56";
}
.icon-arrow-down-right2:before {
  content: "\ea57";
}
.icon-arrow-down2:before {
  content: "\ea58";
}
.icon-arrow-down-left2:before {
  content: "\ea59";
}
.icon-arrow-left2:before {
  content: "\ea5a";
}
.icon-circle-up:before {
  content: "\ea5b";
}
.icon-circle-right:before {
  content: "\ea5c";
}
.icon-circle-down:before {
  content: "\ea5d";
}
.icon-circle-left:before {
  content: "\ea5e";
}
.icon-tab:before {
  content: "\ea5f";
}
.icon-move-up:before {
  content: "\ea60";
}
.icon-move-down:before {
  content: "\ea61";
}
.icon-sort-alpha-asc:before {
  content: "\ea62";
}
.icon-sort-alpha-desc:before {
  content: "\ea63";
}
.icon-sort-numeric-asc:before {
  content: "\ea64";
}
.icon-sort-numberic-desc:before {
  content: "\ea65";
}
.icon-sort-amount-asc:before {
  content: "\ea66";
}
.icon-sort-amount-desc:before {
  content: "\ea67";
}
.icon-command:before {
  content: "\ea68";
}
.icon-shift:before {
  content: "\ea69";
}
.icon-ctrl:before {
  content: "\ea6a";
}
.icon-opt:before {
  content: "\ea6b";
}
.icon-checkbox-checked:before {
  content: "\ea6c";
}
.icon-checkbox-unchecked:before {
  content: "\ea6d";
}
.icon-radio-checked:before {
  content: "\ea6e";
}
.icon-radio-checked2:before {
  content: "\ea6f";
}
.icon-radio-unchecked:before {
  content: "\ea70";
}
.icon-crop:before {
  content: "\ea71";
}
.icon-make-group:before {
  content: "\ea72";
}
.icon-ungroup:before {
  content: "\ea73";
}
.icon-scissors:before {
  content: "\ea74";
}
.icon-filter:before {
  content: "\ea75";
}
.icon-font:before {
  content: "\ea76";
}
.icon-ligature:before {
  content: "\ea77";
}
.icon-ligature2:before {
  content: "\ea78";
}
.icon-text-height:before {
  content: "\ea79";
}
.icon-text-width:before {
  content: "\ea7a";
}
.icon-font-size:before {
  content: "\ea7b";
}
.icon-bold:before {
  content: "\ea7c";
}
.icon-underline:before {
  content: "\ea7d";
}
.icon-italic:before {
  content: "\ea7e";
}
.icon-strikethrough:before {
  content: "\ea7f";
}
.icon-omega:before {
  content: "\ea80";
}
.icon-sigma:before {
  content: "\ea81";
}
.icon-page-break:before {
  content: "\ea82";
}
.icon-superscript:before {
  content: "\ea83";
}
.icon-subscript:before {
  content: "\ea84";
}
.icon-superscript2:before {
  content: "\ea85";
}
.icon-subscript2:before {
  content: "\ea86";
}
.icon-text-color:before {
  content: "\ea87";
}
.icon-pagebreak:before {
  content: "\ea88";
}
.icon-clear-formatting:before {
  content: "\ea89";
}
.icon-table:before {
  content: "\ea8a";
}
.icon-table2:before {
  content: "\ea8b";
}
.icon-insert-template:before {
  content: "\ea8c";
}
.icon-pilcrow:before {
  content: "\ea8d";
}
.icon-ltr:before {
  content: "\ea8e";
}
.icon-rtl:before {
  content: "\ea8f";
}
.icon-section:before {
  content: "\ea90";
}
.icon-paragraph-left:before {
  content: "\ea91";
}
.icon-paragraph-center:before {
  content: "\ea92";
}
.icon-paragraph-right:before {
  content: "\ea93";
}
.icon-paragraph-justify:before {
  content: "\ea94";
}
.icon-indent-increase:before {
  content: "\ea95";
}
.icon-indent-decrease:before {
  content: "\ea96";
}
.icon-share:before {
  content: "\ea97";
}
.icon-new-tab:before {
  content: "\ea98";
}
.icon-embed:before {
  content: "\ea99";
}
.icon-embed2:before {
  content: "\ea9a";
}
.icon-terminal:before {
  content: "\ea9b";
}
.icon-share2:before {
  content: "\ea9c";
}
.icon-mail:before {
  content: "\ea9d";
}
.icon-mail2:before {
  content: "\ea9e";
}
.icon-mail3:before {
  content: "\ea9f";
}
.icon-mail4:before {
  content: "\eaa0";
}
.icon-amazon:before {
  content: "\eaa1";
}
.icon-google:before {
  content: "\eaa2";
}
.icon-google2:before {
  content: "\eaa3";
}
.icon-google3:before {
  content: "\eaa4";
}
.icon-google-plus:before {
  content: "\eaa5";
}
.icon-google-plus2:before {
  content: "\eaa6";
}
.icon-google-plus3:before {
  content: "\eaa7";
}
.icon-hangouts:before {
  content: "\eaa8";
}
.icon-google-drive:before {
  content: "\eaa9";
}
.icon-facebook:before {
  content: "\eaaa";
}
.icon-facebook2:before {
  content: "\eaab";
}
.icon-instagram:before {
  content: "\eaac";
}
.icon-whatsapp:before {
  content: "\eaad";
}
.icon-spotify:before {
  content: "\eaae";
}
.icon-telegram:before {
  content: "\eaaf";
}
.icon-twitter:before {
  content: "\eab0";
}
.icon-vine:before {
  content: "\eab1";
}
.icon-vk:before {
  content: "\eab2";
}
.icon-renren:before {
  content: "\eab3";
}
.icon-sina-weibo:before {
  content: "\eab4";
}
.icon-rss:before {
  content: "\eab5";
}
.icon-rss2:before {
  content: "\eab6";
}
.icon-youtube:before {
  content: "\eab7";
}
.icon-youtube2:before {
  content: "\eab8";
}
.icon-twitch:before {
  content: "\eab9";
}
.icon-vimeo:before {
  content: "\eaba";
}
.icon-vimeo2:before {
  content: "\eabb";
}
.icon-lanyrd:before {
  content: "\eabc";
}
.icon-flickr:before {
  content: "\eabd";
}
.icon-flickr2:before {
  content: "\eabe";
}
.icon-flickr3:before {
  content: "\eabf";
}
.icon-flickr4:before {
  content: "\eac0";
}
.icon-dribbble:before {
  content: "\eac1";
}
.icon-behance:before {
  content: "\eac2";
}
.icon-behance2:before {
  content: "\eac3";
}
.icon-deviantart:before {
  content: "\eac4";
}
.icon-500px:before {
  content: "\eac5";
}
.icon-steam:before {
  content: "\eac6";
}
.icon-steam2:before {
  content: "\eac7";
}
.icon-dropbox:before {
  content: "\eac8";
}
.icon-onedrive:before {
  content: "\eac9";
}
.icon-github:before {
  content: "\eaca";
}
.icon-npm:before {
  content: "\eacb";
}
.icon-basecamp:before {
  content: "\eacc";
}
.icon-trello:before {
  content: "\eacd";
}
.icon-wordpress:before {
  content: "\eace";
}
.icon-joomla:before {
  content: "\eacf";
}
.icon-ello:before {
  content: "\ead0";
}
.icon-blogger:before {
  content: "\ead1";
}
.icon-blogger2:before {
  content: "\ead2";
}
.icon-tumblr:before {
  content: "\ead3";
}
.icon-tumblr2:before {
  content: "\ead4";
}
.icon-yahoo:before {
  content: "\ead5";
}
.icon-yahoo2:before {
  content: "\ead6";
}
.icon-tux:before {
  content: "\ead7";
}
.icon-appleinc:before {
  content: "\ead8";
}
.icon-finder:before {
  content: "\ead9";
}
.icon-android:before {
  content: "\eada";
}
.icon-windows:before {
  content: "\eadb";
}
.icon-windows8:before {
  content: "\eadc";
}
.icon-soundcloud:before {
  content: "\eadd";
}
.icon-soundcloud2:before {
  content: "\eade";
}
.icon-skype:before {
  content: "\eadf";
}
.icon-reddit:before {
  content: "\eae0";
}
.icon-hackernews:before {
  content: "\eae1";
}
.icon-wikipedia:before {
  content: "\eae2";
}
.icon-linkedin:before {
  content: "\eae3";
}
.icon-linkedin2:before {
  content: "\eae4";
}
.icon-lastfm:before {
  content: "\eae5";
}
.icon-lastfm2:before {
  content: "\eae6";
}
.icon-delicious:before {
  content: "\eae7";
}
.icon-stumbleupon:before {
  content: "\eae8";
}
.icon-stumbleupon2:before {
  content: "\eae9";
}
.icon-stackoverflow:before {
  content: "\eaea";
}
.icon-pinterest:before {
  content: "\eaeb";
}
.icon-pinterest2:before {
  content: "\eaec";
}
.icon-xing:before {
  content: "\eaed";
}
.icon-xing2:before {
  content: "\eaee";
}
.icon-flattr:before {
  content: "\eaef";
}
.icon-foursquare:before {
  content: "\eaf0";
}
.icon-yelp:before {
  content: "\eaf1";
}
.icon-paypal:before {
  content: "\eaf2";
}
.icon-chrome:before {
  content: "\eaf3";
}
.icon-firefox:before {
  content: "\eaf4";
}
.icon-IE:before {
  content: "\eaf5";
}
.icon-edge:before {
  content: "\eaf6";
}
.icon-safari:before {
  content: "\eaf7";
}
.icon-opera:before {
  content: "\eaf8";
}
.icon-file-pdf:before {
  content: "\eaf9";
}
.icon-file-openoffice:before {
  content: "\eafa";
}
.icon-file-word:before {
  content: "\eafb";
}
.icon-file-excel:before {
  content: "\eafc";
}
.icon-libreoffice:before {
  content: "\eafd";
}
.icon-html-five:before {
  content: "\eafe";
}
.icon-html-five2:before {
  content: "\eaff";
}
.icon-css3:before {
  content: "\eb00";
}
.icon-git:before {
  content: "\eb01";
}
.icon-codepen:before {
  content: "\eb02";
}
.icon-svg:before {
  content: "\eb03";
}
.icon-IcoMoon:before {
  content: "\eb04";
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
}

@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
}
@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        color:#0ee80e;
    }
    50%,
    55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        color:yellow;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        color:#fff;
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        color:#0ee80e;
    }
    50%,
    55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        color:yellow;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        color:#fff;
    }
}

.animated.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.loading_effect > div:nth-child(1) {
	float: left;
	animation: fontJump 1s linear infinite;
	-moz-animation: fontJump 1s linear infinite;			/* Firefox */
	-webkit-animation: fontJump 1s linear infinite;		/* Safari 和 Chrome */
	-o-animation: fontJump 1s linear infinite;				/* Opera */
}

.loading_effect > div:nth-child(2) {
	float: left;
	animation: fontJump 1s linear 333ms infinite;
	-moz-animation: fontJump 1s linear 333ms infinite;				/* Firefox */
	-webkit-animation: fontJump 1s linear 333ms infinite;			/* Safari 和 Chrome */
	-o-animation: fontJump 1s linear 333ms infinite;					/* Opera */
}
.loading_effect > div:nth-child(3) {
	float: left;
	animation: fontJump 1s linear 666ms infinite;
	-moz-animation: fontJump 1s linear 666ms infinite;				/* Firefox */
	-webkit-animation: fontJump 1s linear 666ms infinite;			/* Safari 和 Chrome */
	-o-animation: fontJump 1s linear 666ms infinite;					/* Opera */
}

@keyframes fontJump {
	0% {transform : translate(0px, 0px); }
	50% {transform : translate(0px, -5px);}
	100% {transform : translate(0px, 0px);}
}

@-moz-keyframes fontJump {
	0% {transform : translate(0px, 0px); }
	50% {transform : translate(0px, -5px);}
	100% {transform : translate(0px, 0px);}
}

@-webkit-keyframes fontJump {
	0% {transform : translate(0px, 0px); }
	50% {transform : translate(0px, -5px);}
	100% {transform : translate(0px, 0px);}
}

@-o-keyframes fontJump {
	0% {transform : translate(0px, 0px); }
	50% {transform : translate(0px, -5px);}
	100% {transform : translate(0px, 0px);}
}
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 800px;
	width: auto;
	_width: 800px;
	overflow: auto
}
.side-menu, .minimenu i, .menu-list i, .item-tit, .container, .exit, .login, .article-box {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

/* * -----3.左侧菜单栏------ */ /*3-1.主菜单列表*/
.side-menu {
	position: absolute;
	left: 0;
	width: 60px;
	height: 100%;
	z-index: 1000
}

.minimenu {
	position: relative
}

.minimenu .skinBtn_bg {
	position: absolute;
}

.skinmenu {
	position: relative;
	margin-top: 6px;
	margin-left: 14px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.skinmenu img {
	position: absolute;
	top: 3px;
	left: 4px;
	z-index: 10
}

.skin_li {
	position: relative
}

.skin_list {
	opacity: 1;
	position: absolute;
	top: 45px;
	left: -64px;
	z-index: 9;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #ccc;
	background: #fff;
	cursor: default
}

.skinmenu img:hover {
	transform: rotate(1080deg);
	-ms-transform: rotate(1080deg);
	-moz-transform: rotate(1080deg);
	-webkit-transform: rotate(1080deg);
	-o-transform: rotate(1080deg);
	transition: all 2s ease;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease
}

.skin_list>ul>li {
	margin-right: 5px;
	display: inline;
	float: left;
}

.skin_list>ul>li:last-child {
	margin-right: 0
}

.skin_list>ul>li>span {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 35px;
	vertical-align: middle;
	cursor: pointer
}

.skin_list>ul>li>span>img {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0
}

.skin_list>ul>li>span.active>img {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0
}

.skin_default {
	background: #14A67E
}

.skin_brown {
	background: -moz-linear-gradient(top, #703e3e, #B99D80);
	background: -o-linear-gradient(top, #703e3e, #B99D80);
	background: -ms-linear-gradient(top, #703e3e, #B99D80);
	background: -webkit-linear-gradient(top, #703e3e, #B99D80);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#703e3e), to(#B99D80));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#703e3e,endColorstr=#B99D80)";
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#703e3e, endColorstr=#B99D80)
}

.skin_blue {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3A789C), to(#B99D80));
	background: -moz-linear-gradient(top, #3A789C, #B99D80);
	background: -o-linear-gradient(top, #3A789C, #B99D80);
	background: -ms-linear-gradient(top, #3A789C, #B99D80);
	background: -webkit-linear-gradient(top, #3A789C, #B99D80);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3A789C), to(#B99D80));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#3A789C,endColorstr=#B99D80)";
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3A789C, endColorstr=#B99D80)
}

.menu-list {
	width: 100%
}

.menu-list i {
	width: 26px;
	height: 26px;
	font-size: 21px;
	color: #fff;
}

.menu-list i.icon {
	display: inline-block;
}

.menu-list .menu_img {
	width: 100%;
	height: 100%
}

.item {
	position: relative;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.nav>li.item+.item {
	margin-top: 4px
}

.item .left_border {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%
}

.item .menu_arrow {
	display: none;
	position: absolute;
	top: 15px;
	right: -1px;
	width: 10px;
	height: 10px;
	background: url(../images/main_menu_arrow.png) no-repeat;
}

.item:hover {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.item:hover .left_border {
	border-left: 3px solid #FFB257;
}

.item:hover>div a {
	text-decoration: none
}

.item-tit {
	font-family: "微软雅黑";
	display: block;
	font-size: 12px;
	color: #fff;
	opacity: .9;
	filter: Alpha(opacity = 90)
}

.item:hover .item-tit, .item:hover i.icon {
	color: #FFB257
}
/*3-1.二级菜单*/
.submenu {
	position: absolute;
	padding: 10px 0 5px;
	left: 60px;
	background-color: #fdfdfd;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: none;
	z-index: 9999;
	cursor: default;
	box-shadow: 1px 0 3px #C3C3C3;
	-moz-box-shadow: 1px 0 3px #C3C3C3;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px
}

.submenu_1 {
	width: 600px
}

.submenu_2 {
	width: 690px
}

.submenu_3 {
	width: 210px
}

.submenu_4 {
	width: 690px
}

.submenu_5 {
	width: 470px
}

.submenu_6, .submenu_7, .submenu_8 {
	width: 160px
}

.submenu_item {
	margin-bottom: 8px;
	padding: 6px 10px;
	border-bottom: 1px dashed #DCDCDC;
}

.submenu_item dt {
	font-size: 14px;
	text-align: left
}

.submenu_item dt a {
	font-family: "微软雅黑";
	font-weight: bold;
	color: #080;
	cursor: default
}

.submenu_item dd {
	font-family: "微软雅黑";
	float: left;
	margin-right: 10px;
	font-size: 14px;
	line-height: 24px
}

.submenu_item dd a {
	margin-right: 8px;
	color: #6d6b6c
}

.submenu_item dd span {
	color: #ccc
}

.submenu_item dd:hover {
	cursor: pointer
}

.submenu_item dd:hover a {
	color: #FAB455
}

.item .subtop {
	top: -125px
}
/* *-----4.内容模块------ */
.container {
	margin-left: 60px;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.main_logo {
	position: absolute;
	left: 18px;
	top: -13px;
	width: 80px;
	font-size: 70px;
	color: #fff;
}

.proxy_photo {
	margin-right: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
/* logo */
.main_logo img {
	width: 100%
}
/* * ----4-1.顶部导航----- */
.topnav {
	zoom: 1;
	height: 45px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.topnav .l {
	height: 100%;
	float: left
}

.topnav .r {
	height: 100%;
	float: right;
	text-align: right;
}

.topnav .main_title {
	float: left;
	margin-left: 45px;
	line-height: 45px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #FAFAFA
}

.topnav .links_list {
	margin-right: 20px;
}

.topnav .links_list>li {
	position: relative;
	float: left;
	margin-left: 15px;
	font-size: 13px;
	font-family: "微软雅黑";
	line-height: 45px;
	height: 45px;
	color: #fff;
}

.topnav .links_list>li.space {
	font-size: 20px;
	line-height: 40px;
}

.topnav .links_list>li i.fa.fa-power-off {
	font-size: 15px;
}

.topnav .links_list>li i.icon {
	font-size: 16px
}

.topnav .links_list>li>a {
	color: #fff;
}

.topnav .links_list>li a.userName {
	color: #10F135
}

.topnav .links_list>li a.userName:hover {
	color: #10F135;
	text-decoration: none;
	cursor: default
}

.topnav a.userName:hover {
	text-decoration: underline
}

.topnav .links_list>li>a:hover {
	color: #e0e0e0;
	text-decoration: none;
}

.topnav .buy {
	position: relative;
	margin-left: 10px
}

.topnav .buy .hot_icon {
	position: absolute;
	left: -13px;
	top: -14px;
	font-size: 10px;
}

.topnav .dropdown-menu {
	min-width: 100px;
	top: 38px;
}

.topnav .dropdown .btn {
	padding: 2px 8px;
}

.topnav .links_list li.qqChat {
	position: relative;
	margin-right: 5px;
	font-size: 14px;
	line-height: 40px;
	z-index: 999
}

.marquee {
	position: absolute;
	left: 300px;
	right: 580px;
	height: auto;
	overflow: hidden;
	margin: 16px;
	color: #fff
}

.consult_phone {
	padding-top: 4px;
	margin-top: 8px;
	border-top: 1px dashed #9a9292;
}

#consult_box, #guide_box, #skin_box, #tryout_box {
	background: #fff;
	border: 1px solid #ddd;
	padding: 6px 12px 8px 12px;
	border-radius: 5px;
	display: none
}

#skin_box {
	padding: 6px 6px
}

.box_ul li {
	text-align: left;
	padding: 0 2px;
	line-height: 25px;
	font-size: 12px;
	cursor: default;
	font-family: "微软雅黑";
	letter-spacing: 1px;
	color: #333;
}

.box_container {
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 17px;
	left: 50%;
	margin-left: -25px;
}

.exit {
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	cursor: pointer
}

.login {
	margin-right: 20px;
	font-size: 14px;
	line-height: 30px;
	color: #adadad;
	cursor: pointer
}

.login:hover {
	color: #4d4d4d
}

.topnav .links_list li a.perform {
	color: yellow
}
/* * ----4-2.子页面iframe布局------- * */
.article-box {
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 60px;
	border-top: 1px solid #e6e6e6;
	border-top-left-radius: 4px;
	overflow: hidden;
	z-index: 1;
	background-color: #fafafa
}

.tabNav {
	padding-top: 3px;
	height: 25px;
	border-bottom: 2px solid #91D3F5;
	border-left: 1px solid #e6e6e6;
	overflow: hidden;
	position: relative;
	background: #F7F7F7
}

.tabNav-wp {
	position: relative;
	height: 25px;
	overflow: hidden
}

.tabNav .acrossTab {
	position: absolute;
	height: 25px;
	line-height: 20px;
	background: none;
	top: 0;
	left: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-left: 45px;
	padding-right: 45px
}

.tabNav .acrossTab li em {
	right: 2px;
	top: 2px;
	position: absolute;
	line-height: 20px;
	z-index: 50;
	cursor: pointer;
	font-size: 12px;
	color: darkcyan;
	display: none
}

.tabNav .acrossTab li em.active {
	display: inline
}

.tabNav .acrossTab li:hover em {
	display: inline
}

.acrossTab li {
	margin-left: 2px;
	padding-left: 10px;
	padding-right: 20px;
	position: relative;
	float: left;
	display: inline-block;
	height: 25px;
	line-height: 23px;
	font-size: 12px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: default;
	white-space: nowrap;
	color: #282828;
	background-position: 0 0;
	-moz-user-select: none
}

.acrossTab li:hover {
	background: #F0F9FD
}
/*4-2-1.标签左右按钮*/
.tabNav .tab-swith-btn {
	position: absolute;
	width: 45px;
	height: 25px;
	top: -1px;
	text-align: center;
	line-height: 25px;
	color: #000;
	background-color: #fafafa;
	font-size: 16px;
	border: 0;
	padding: 0;
	z-index: 99;
	outline: none
}

.tabNav .tab-swith-btn:hover {
	background-color: #ccc;
	cursor: pointer;
	color: #fff
}

.tabNav .prev-tab {
	left: 0
}

.tabNav .next-tab {
	right: 1px
}
/*4-2-2.子页面iframe*/
.article_content {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 1
}

.show_iframe iframe {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%
}
/* 首页关于弹出框 */
.about_mask {
	z-index: 9999;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
}

.about {
	position: absolute;
	left: 50%;
	margin-left: -325px;
	top: 30%;
	margin-top: -150px;
	width: 650px;
	height: 300px;
	opacity: 0;
	border-radius: 4px;
	box-shadow: 0px 2px 6px #000;
}

.clo_icon {
	position: absolute;
	top: 16px;
	right: 20px;
	width: 20px;
	height: 20px;
	color: #fff;
	cursor: pointer;
}

.clo_icon:before {
	position: absolute;
	top: 8px;
	left: 0;
	width: 18px;
	height: 3px;
	content: '';
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg)
}

.clo_icon:after {
	position: absolute;
	top: 8px;
	left: 0;
	width: 18px;
	height: 3px;
	content: '';
	background: #fff;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg)
}

.layer_main_logo {
	position: absolute;
	top: 28px;
	left: 64px;
	font-size: 256px;
	color: #fff;
}

.about_info {
	position: absolute;
	bottom: 110px;
	right: 20px;
}

.official_add {
	color: #2115C1;
	text-decoration: underline
}

.about_info>p {
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.copy {
	position: absolute;
	font-family: "微软雅黑";
	width: 100%;
	bottom: 15px;
	font-size: 14px;
	text-align: center;
	color: #fff
}
/* 在线提问 */
.service_cont, .service_cont>div {
	padding: 20px
}

#online_ask {
	width: 947px;
	padding-bottom: 20px
}

#online_ask .ask_item {
	position: relative;
	margin-top: 10px
}

#online_ask .ask_item label {
	float: left;
	margin-right: 20px
}

#container {
	display: inline;
	float: left
}

.service_cont textarea {
	color: #666
}

.service_cont .service_table_container {
	
}

.service_cont .table th {
	color: #777
}

.service_cont .tTitle {
	max-width: 300px;
	text-align: left
}

.service_cont .qsTitle {
	padding-left: 10px;
	color: #40409E
}

.service_cont .tit {
	color: #555;
	border-bottom: 1px dashed #ccc;
	line-height: 30px
}

.service_cont .qs_content {
	position: relative
}

.service_cont .qs_detail {
	margin-bottom: 20px
}

.service_cont .qs_detail .title {
	padding: 5px 0;
	border-bottom: 1px dashed #ddd
}

.service_cont .qs_detail .title a {
	float: right;
	margin-right: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #54A1E7;
	text-decoration: none
}

.service_cont .qs_detail .title h3 {
	float: left;
	font-size: 16px;
	line-height: 20px;
	color: #4e8cbc;
	font-weight: bold
}

.service_cont .qs_ctn {
	padding: 15px 0
}

.service_cont .qs_ctn li {
	margin: 15px 0
}

.service_cont .qs_ctn h4 {
	font-size: 16px;
	line-height: 26px;
}

.service_cont .question h4 {
	color: #497287
}

.service_cont .answer h4 {
	color: #f98307
}

.service_cont .ctn {
	position: relative;
	padding: 15px;
	font-size: 14px;
	color: #777;
}

.service_cont .question .ctn {
	background: #eef8fd
}

.service_cont .answer .ctn {
	background: #fff2e5
}

.service_cont .time {
	position: absolute;
	right: 10px;
	bottom: 0;
	font-size: 12px;
	color: #999
}

.service_cont .write_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	margin-left: -75px;
	margin-top: -75px;
	width: 150px;
	height: 150px;
	background: url(../images/menu/write.png) center no-repeat;
	background-size: cover;
	opacity: .1;
	filter: Alpha(opacity = 10)
}

.service_cont .noticeTitle {
	margin-bottom: 10px;
	border-bottom: 1px dashed #ccc;
	line-height: 40px;
	color: #4e8cbc;
	font-weight: bold;
	font-size: 14px
}

.service_cont .bootstrap-table .table {
	border: 0
}

.service_cont .fixed-table-container {
	border: none
}

.service_cont .table tbody tr td {
	line-height: 30px
}

.service_cont .table tbody tr td span.t_active {
	color: #666;
	cursor: pointer
}

.service_cont .table tbody tr td span.t_active:hover {
	color: #2383c0
}

.service_cont .table>thead>tr>th {
	border-bottom: 1px dashed #ccc;
	border-left: none;
	font-size: 14px
}

.service_cont .fixed-table-container thead th .th-inner {
	line-height: 40px
}

.service_cont .table>tbody>tr>th, .service_cont .table>tfoot>tr>th, .service_cont .table>thead>tr>td, .service_cont .table>tbody>tr>td, .service_cont .table>tfoot>tr>td {
	border: none;
	font-size: 14px
}

.service_cont .table-striped>tbody>tr {
	background: none
}

.service_cont .fa-comments {
	color: #38D1E2;
	font-size: 14px
}
/* 新手指南 */
.guide_content {
	margin: auto;
	margin-top: 20px;
	width: 1200px;
}

ul.guide_l {
	float: left;
	margin-left: -20px
}

ul.guide_l>li {
	width: 200px;
	list-style-type: none;
	display: block;
	text-align: center;
	margin: auto;
	position: relative;
	border-right: none;
}

ul.guide_l>li.selected {
	
}

ul.guide_l>li>div.menu_item {
	z-index: 100;
	padding: 7px;
	text-align: left;
	padding-left: 20px;
}

ul.guide_l>li>div.menu_item>label, ul.guide_l>li.selected>label {
	margin-bottom: -4px;
	vertical-align: middle
}

ul.guide_l>li.selected>div.menu_item {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

ul.guide_l>li.selected>div.menu_item>label {
	
}

ul.guide_l>li>div.menu_item>img {
	width: 35px
}

ul.guide_l>li>div.menu_item>label {
	font-family: "微软雅黑";
	font-size: 16px;
}

.menu_item {
	position: relative
}

.sub_menu {
	display: none;
	position: absolute;
	z-index: 1;
	right: -150px;
	width: 150px;
}

.sub_menu>ul {
	padding: 8px;
}

.sub_menu>ul>li {
	height: 37px;
	padding: 0 10px;
	line-height: 37px;
	margin-top: 6px;
	cursor: pointer
}

.sub_menu>ul>li:hover, .sub_menu>ul>li.selected {
	moz-box-shadow: 0px 0px 2px #333;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}

.sub_menu>ul>li:hover>a, .sub_menu>ul>li.selected>a {
	text-decoration: none
}

.sub_menu>ul>li>a {
	font-family: "微软雅黑";
	font-size: 15px;
}
/* 左右布局 */
.navbox {
	float: left
}

.menu-z {
	position: absolute;
	z-index: 10000
}

.menu-right {
	position: absolute;
	left: 180px;
	right: 0;
	z-index: 1
}
.guide_r {
	float: left;
	width: 960px;
	height: 530px;
	background: #eee;
	margin-left: 35px;
	border: 1px solid #ccc;
}

.img_content {
	position: relative;
	width: 100%;
	height: 100%
}

.g_img img {
	width: 100%;
	height: 100%
}

.des_content {
	min-height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(1, 1, 1, 0.4)
}

.btn_pre .fa, .btn_next .fa {
	font-size: 30px
}

.btn_pre, .btn_next {
	position: absolute;
	top: 50%;
	padding: 30px 20px;
	cursor: pointer;
	border-radius: 4px;
	color: rgba(1, 1, 1, 0.7);
}

.btn_pre:hover, .btn_next:hover {
	background: rgba(1, 1, 1, 0.4);
	color: #fff
}

.btn_pre {
	left: 0
}

.btn_next {
	right: 0
}

.g_description {
	height: 50px;
	line-height: 50px;
	width: 100%;
	background: rgba(1, 1, 1, 0.7);
	position: absolute;
	text-indent: 50px;
	bottom: 0;
	color: #fff;
	font-size: 17px;
	font-family: "微软雅黑";
}
/*在线用户*/
.label-warning {
	padding: 1px 4px;
	background: #f89406;
	color: #fff
}

.label-inverse {
	padding: 1px 4px;
	background: #82af6f;
	color: #fff
}

.select_user {
	display: inline-block;
	width: 1000px;
	vertical-align: top;
	margin-left: 20px
}

.select_user>div>div>label {
	margin-right: 10px
}
