body {
	overflow-x: hidden;
	color: #000;
	font-size: 12px;
	font-family: "微软雅黑", arial, "宋体", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body, h3, html, p, ul {
	margin: 0;
	padding: 0;
	font-weight: 0;
	font-size: 16px
}

a {
	color: #000;
	text-decoration: none;
	font-size: 12px
}

ul {
	list-style: none
}

a {
	color: #000;
	text-decoration: none;
	font-size: 12px
}

ul {
	list-style: none
}

.payBtn {
	display: inline-block;
	padding: 0 18px;
	height: 38px;
	border: 0;
	border-radius: 2px;
	background-color: #009688;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
	line-height: 38px;
	opacity: .9;
	cursor: pointer
}

.payBtn:hover {
	color: #fff;
	text-decoration: none
}

.input_readonly {
	border: 1px solid #cac6c6;
	background-color: #ddd
}

.bgcolor_danger {
	border-radius: 6px;
	background-color: #ff5722
}

.stare:after {
	position: absolute;
	top: 0;
	left: 34px;
	display: block;
	color: #de0c15;
	content: ' *';
	font-size: 150%
}

.cleaerFloat:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ''
}

,
.payContent {
	margin: 0 auto;
	width: 1200px
}

.stepFooter {
	margin: 0 auto;
	width: 900px
}

.stepFooter ul {
	text-align: center
}

.payHeader {
	overflow: hidden;
	padding: 4px 50px;
	height: 60px;
	background-color: #15a67f;
	color: #fff;
	line-height: 60px
}

.payHeader .ph_logo {
	float: left;
	margin-right: 30px;
	width: 80px;
	height: 40px
}

.payHeader .ph_logo>a {
	display: block;
	width: 100%;
	height: 100%
}

.payHeader .ph_logo>a>img {
	width: 100%;
	height: 100%
}

.payHeader .ph_contetn {
	float: right
}

.payHeader .ph_loding {
	float: left;
	overflow: hidden;
	padding-right: 180px
}

.payHeader .ph_loding div {
	float: left
}

.common_stepImgNav {
	margin-top: 40px;
	text-align: center
}

#payFooter {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 80px;
	padding-top: 40px;
	width: 1100px;
	border-top: 1px solid #2c9a7d;
	text-align: center
}

#payFooter .footer a {
	color: #3765d0
}

#payFooter .footer li {
	display: inline-block;
	margin-bottom: 2px;
	font-size: 15px
}

#payFooter .footer .link_ul li a {
	padding: 0 4px;
	color: #5f5f5f;
	font-size: 14px;
	font-family: "微软雅黑"
}

#payFooter .footer .link_ul li a:hover {
	border-bottom: 1px solid #03a576;
	color: #03a576;
	text-decoration: none;
	-webkit-transition: all .5s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}

#payFooter .footer .copyright {
	color: #5f5f5f;
	font-size: 14px;
	font-family: "微软雅黑"
}

#payServe .textDcoration {
	text-decoration: line-through
}

#payServe .second_table {
	font-size: 12px
}

#payServe .pc_module {
	margin: 0 auto;
	width: 1200px;
	border-bottom: 1px solid #4c4949
}

#payServe .pc_moduleTable {
	overflow: hidden;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px
}

#payServe .pc_moduleTable tbody tr {
	background-color: #fff
}

#payServe .pc_moduleTable .second_table td {
	padding: 0 10px;
	white-space: normal
}

#payServe .pc_moduleTable .second_table .node3>span {
	position: relative;
	left: 40px;
	display: inline-block;
	padding: 10px 0;
	width: 160px;
	white-space: nowrap
}

#payServe .pc_moduleTable tbody th {
	border: 1px solid #ddd;
	text-align: center
}

#payServe .pc_moduleTable .pc_moduleTh1 {
	width: 10%
}

#payServe .pc_moduleTable .pc_moduleTh2 {
	width: 9%
}

#payServe .pc_moduleTable .pc_moduleTd2>span {
	display: inline-block;
	padding: 9px 0;
	width: 100%
}

#payServe .pc_moduleTable .pc_moduleTd3 .pc_moduleP {
	margin-bottom: -1px;
	padding: 10px;
	border-bottom: 1px solid #ddd
}

#payServe .pc_moduleTable .pc_moduleTd3 .pc_moduleP>span {
	float: left;
	display: inline-block;
	width: 19%;
	text-align: left
}

#payServe .pc_moduleTable tbody td {
	border: 1px solid #4c4949;
	border-bottom: 0
}

#payServe .pc_moduleTable tr td div {
	display: inline-block;
	width: 160px
}

#payServe .pc_moduleFn {
	width: 120px
}

#payServe .payFooter ul li {
	float: left;
	margin-right: 20px;
	width: 150px
}

#payServe .pc_firstPay, .pc_serveUpdate {
	float: left;
	margin: 0 auto;
	width: 50%;
	text-align: center
}

#payServe .pc_firstPay .pc_payImg, .pc_updateImg {
	float: left;
	display: inline-block;
	margin-right: 20px;
	width: 100px;
	height: 100px
}

#payServe .pc_firstPay .pc_payImg img, .pc_updateImg img {
	width: 100%;
	height: 80px
}

#payServe .pc_moduleDiv {
	float: left
}

#payServe.pc_serveUpdatePay {
	margin: 0 auto
}

#payServe .serveNameSp {
	display: inline-block;
	width: 94px;
	text-align: left
}

#payServe .pc_choose {
	overflow: hidden;
	margin: 0 auto;
	width: 1200px
}

#payServe .pc_payContentDiv, .pc_updateContentDiv {
	overflow: hidden;
	margin: 0 auto;
	width: 95%
}

#payServe .pc_firstPriceList, #payServe .pc_serveList {
	margin: 0
}

#payServe .pc_firstPriceList li, #payServe .pc_serveList li {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0 6px;
	width: 400px;
	height: 30px;
	border: 1px solid #ddd;
	list-style: none;
	line-height: 30px;
	cursor: pointer
}

#payServe .pc_firstPriceList li p, #payServe .pc_serveList li p {
	float: left;
	margin: 0;
	font-size: 14px
}

#payServe .pc_module h3 {
	margin-top: 20px;
	padding: 40px 0 20px 0;
	border-top: 2px solid #15a67f;
	color: #15a67f;
	text-align: center;
	font-weight: 700;
	font-size: 24px
}

#payServe .payContent {
	margin-top: 40px
}

#payServe .pc_goPay, .pc_goUpdate {
	margin: 4px auto;
	width: 126px;
	height: 30px;
	background-color: #f50;
	color: #fff;
	line-height: 30px;
	cursor: pointer
}

#payServe .payContent .pc_choose h3 {
	padding-left: 50px;
	height: 48px;
	color: #15a67f;
	font-weight: 700;
	font-size: 20px;
	line-height: 48px
}

#payServe .pc_firstPriceNum, .pc_updatePriceNum {
	padding-left: 64px
}

#payServe .pc_moduleTd1>span {
	position: relative;
	padding: 12px 0;
	color: #15a67f;
	font-weight: 500
}

#payServe .node2>span {
	position: relative;
	padding: 13px 0
}

#payServe .pc_firstPriceNum p, .pc_updatePriceNum p {
	float: left
}

#payServe .pc_updatePriceNum:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ''
}

#payServe .pc_firstPriceNum:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ""
}

#payServe .pc_moduleDiv ul li.active {
	position: relative;
	border: 2px solid #f50
}

#payServe .pc_moduleDiv ul li.active::after {
	position: absolute;
	right: -5px;
	bottom: -2px;
	display: block;
	width: 40px;
	height: 18px;
	background-image: url(/static/layout/images/pay/active.png);
	content: ''
}

#payServe .input_check {
	position: absolute;
	visibility: hidden
}

#payServe .input_check+label {
	position: relative;
	top: 6px;
	left: -73px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #ddd
}

#payServe .input_check:checked+label:after {
	position: absolute;
	top: -3px;
	left: 0;
	width: 20px;
	height: 9px;
	border: 3px solid #0bab7f;
	content: "";
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	transform: rotate(-45deg);
	border-top-color: transparent;
	border-right-color: transparent;
	-ms-transform: rotate(-60deg)
}

#payServe .moduleList {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	border-top: solid 1px #4c4949;
	border-right: solid 1px #4c4949;
	background-color: #f8fefc
}

#payServe .moduleList li {
	float: left;
	border-left: solid 1px #4c4949;
	color: #15a67f;
	text-align: center;
	font-weight: 500
}

#payServe .pc_moduleLi2, .pc_moduleLi1 {
	width: 120px
}

#payServe .pc_moduleLi3 {
	padding: 10px 0;
	flex: 1
}

#payServe .pc_moduleLi1 {
	padding: 10px 0
}

#payServe .pc_moduleLi2 {
	padding: 10px
}

#payServe .input_check {
	position: absolute;
	visibility: hidden
}

#payServe .input_check+label {
	position: absolute;
	top: 13px;
	left: -20px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #ddd
}

#payServe .input_check:checked+label:after {
	position: absolute;
	top: -5px;
	left: 0;
	width: 20px;
	height: 9px;
	border: 3px solid #0bab7f;
	content: "";
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	transform: rotate(-45deg);
	border-top-color: transparent;
	border-right-color: transparent;
	-ms-transform: rotate(-60deg)
}

#payServe .payFooter .itemContentTitle {
	position: relative;
	width: 130px;
	height: 50px;
	background-color: #14ab7e;
	color: #defffd;
	line-height: 50px
}

#payServe .payFooter .itemContentText {
	margin-top: 16px;
	width: 130px;
	color: #7b7878;
	text-align: left;
	font-size: 13px
}

#payServe .payFooter>h3 {
	padding: 10px 0;
	height: 20px;
	color: #15a67f;
	font-weight: 400;
	font-size: 20px
}

#payServe .payFooter .icon {
	position: absolute;
	right: -30px;
	color: #14ab7e;
	font-size: 22px
}

#payOder .oc_left_div {
	float: left;
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	border: 1px solid #9d9d9d;
	background-color: #c1e2d9
}

#payOder .oc_right_div {
	float: left;
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	border: 1px solid #9d9d9d
}

#payOderForm .cleaerFloat li {
	float: left
}

#payOderForm .textinput {
	border: 0;
	border-bottom: 1px solid #000
}

#payOderForm .textUnderline {
	width: 146px;
	text-decoration: underline
}

#payOder .oderContent {
	margin: 0 auto;
	width: 1100px
}

#payOder .oc_contact {
	margin-top: 30px;
	width: 100%;
	height: 245px;
	border: 1px solid #9d9d9d
}

#payOder .oc_contact .oc_contactLeft h3 {
	margin-top: 40px
}

#payOder .oc_contact .oc_contactLeft h3, .oc_contact .oc_contactLeft p {
	width: 100%;
	text-align: center
}

#payOder .oc_contact .oc_contactLeft .oc_ciLeftEdit span {
	color: #339378;
	cursor: pointer
}

#payOder .oc_contact .oc_contactRight {
	padding: 40px 0
}

#payOder .oc_contact .oc_contactRightDiv div {
	position: relative;
	float: left;
	padding-left: 6%;
	width: 40%;
	height: 44px;
	text-align: left;
	font-size: 16px
}

#payOder .oc_contact .oc_contactRightDiv div>span {
	font-weight: 100
}

#payOder .oc_contact .oc_contactSubmit {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 50px;
	background-color: #15a67f
}

#payOder .oc_invoice {
	margin-top: 30px;
	height: 130px;
	border: 1px solid #ddd
}

#payOder .oc_invoice .oc_invoiceLeft p {
	margin-top: 20px;
	text-align: center
}

#payOder .oc_invoice .oc_invoiceRight {
	padding: 15px 0
}

#payOder .oc_invoice .oc_invoiceRight ul {
	padding: 20px 0
}

#payOder .oc_invoice .oc_invoiceRight ul li {
	float: left;
	padding-left: 8%;
	width: 24%
}

#payOder .oc_invoice .oc_invoiceRight label {
	font-size: 16px
}

#payOder .oc_invoice .oc_invoiceRight p {
	margin-top: 5px;
	padding-left: 74px;
	color: #676767
}

#payOder .oc_serveInventory {
	margin-top: 40px;
	height: 120px;
	border: 1px solid #ddd
}

#payOder .oc_serveInventory table {
	width: 100%;
	text-align: center
}

#payOder .oc_serveInventoryLeft p {
	margin-top: 40px;
	text-align: center
}

#payOder .oc_serveInventoryRight table th {
	height: 30px;
	background-color: #c1e2d9;
	text-align: center
}

#payOder .oc_close {
	margin-top: 40px;
	height: 460px;
	border: 1px solid #ddd
}

#payOder .oc_close .oc_closeLeft p {
	margin-top: 40px;
	text-align: center
}

#payOder .oc_close .oc_closeRight {
	padding-top: 20px
}

#payOder .oc_close .oc_closeRight ul li {
	margin-left: 20%;
	width: 80%;
	height: 30px;
	text-align: center;
	line-height: 30px
}

#payOder .oc_close .oc_closeRight .oc_contract ul li {
	margin: 0;
	height: 31px;
	text-align: left;
	line-height: 31px
}

#payOder .oc_close .oc_closeRight .oc_contract ul li input {
	height: 25px
}

#payOder .oc_contract {
	overflow-y: scroll;
	margin: 0 auto;
	margin-top: 40px;
	width: 80%;
	height: 200px;
	border: 1px solid #ddd
}

#payOder .oc_greePack {
	position: relative;
	top: 10px;
	left: 49%;
	width: 140px
}

#payFn .fnContent {
	margin: 0 auto;
	width: 1200px
}

#payFn .fc_text {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 60%;
	color: rgba(21, 166, 127, .75);
	font-family: -webkit-body
}

#payFn .boderControll {
	padding: 10px;
	border: 2px solid #c1e1d6;
	border-top: 0
}

#payFn .fc_chooseFn {
	margin: 0 auto;
	width: 65%
}

#payFn .zhifubaoP, .weixinP {
	margin: 0 auto;
	width: 240px;
	height: 200px;
	text-align: center
}

,
#payFn .zfbImg {
	height: 100px;
	line-height: 100px
}

#payFn .wxImg img {
	display: inline-block;
	width: 150px;
	height: 150px
}

#paySucced .succedContent {
	margin: 0 auto;
	width: 1200px
}

#paySucced .sc_text {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 60%;
	color: #0caa77
}

#paySucced .sc_sectionDiv {
	margin: 0 auto;
	width: 65%;
	border: 1px solid #ddd
}

#paySucced .sc_handImg {
	margin: 0 auto;
	margin-top: 10px;
	width: 24%;
	text-align: center
}

#paySucced .sc_handImg>div {
	height: 90px
}

#paySucced .sc_handImg>p {
	color: #3c8f75;
	font-weight: blod
}

#paySucced .sc_fint {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 71%;
	color: #0caa77
}

#paySucced .sc_fint ul li {
	margin: 4px 0
}

#paySucced .sc_productTb {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 75%
}

#paySucced .sc_productTb p {
	margin-bottom: 15px;
	color: #0caa77
}

#paySucced .sc_productTb table {
	width: 100%;
	text-align: center
}

#paySucced .sc_productTb table td {
	border: 1px solid #8e9796
}

#paySucced .sc_productTb table th {
	border: 1px solid #8e9796;
	background-color: #c1e2d9;
	text-align: center
}

#paySucced .btnA {
	display: inline-block;
	padding: 0 4px;
	height: 20px;
	border-radius: 4px;
	background-color: #ff5722;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px
}

#paySucced .btnA:hover {
	color: #fff;
	text-decoration: none
}

.colorDanger {
	color: #f50
}

.fontStrong {
	font-weight: 700
}

.w_220 {
	width: 220px;
	text-align: right
}

.w_260 {
	width: 260px;
	text-align: right
}

.w_400 {
	float: left;
	display: inline-block;
	width: 400px;
	text-align: right
}