<?xml version="1.0" encoding="UTF-8"?>
<!-- 前两位为一级菜单定义 ：从100000开始计数 ;中间两位为二级菜单定义 ：从100100开始计数 ;末两位为三级菜单定义 ：从100101开始计数 -->
<menus>

  <menu>
    <version>0</version>
    <id>100000</id>
    <name>系统管理</name>
    <type>MENU</type>
    <url></url>
    <sort>1</sort>
    <identifier></identifier>
    <childrens>
      <menu>
        <version>0</version>
        <id>100100</id>
        <name>用户管理</name>
        <type>MENU</type>
        <url>/sys/user/list</url>
        <sort>1</sort>
        <identifier>sys:user:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>100101</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>sys:user:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>100102</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>sys:user:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>100103</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>sys:user:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>100200</id>
        <name>角色管理</name>
        <type>MENU</type>
        <url>/sys/role/list</url>
        <sort>3</sort>
        <identifier>sys:role:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>100201</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>sys:role:add</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>100202</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>sys:role:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>100203</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>sys:role:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>100300</id>
        <name>菜单管理</name>
        <type>MENU</type>
        <url>/sys/menu/list</url>
        <sort>2</sort>
        <identifier>sys:menu:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>100301</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>sys:menu:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>100302</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>sys:menu:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>100303</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>sys:menu:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
    </childrens>
  </menu>
  <menu>
    <version>0</version>
    <id>110000</id>
    <name>基础设置</name>
    <type>MENU</type>
    <url></url>
    <sort>2</sort>
    <identifier></identifier>
    <childrens>
      <menu>
        <version>0</version>
        <id>110100</id>
        <name>客户列表</name>
        <type>MENU</type>
        <url>/basic/customer/list</url>
        <sort>1</sort>
        <identifier>basic:customer:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110101</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:customer:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110102</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:customer:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110103</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:customer:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110200</id>
        <name>包装方式</name>
        <type>MENU</type>
        <url>/basic/packingStyle/list</url>
        <sort>2</sort>
        <identifier>basic:packingStyle:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110201</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:packingStyle:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110202</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:packingStyle:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110203</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:packingStyle:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110300</id>
        <name>付款方式</name>
        <type>MENU</type>
        <url>/basic/paymentClass/list</url>
        <sort>3</sort>
        <identifier>basic:paymentClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110301</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:paymentClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110302</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:paymentClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110303</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:paymentClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110400</id>
        <name>销售类型</name>
        <type>MENU</type>
        <url>/basic/saleClass/list</url>
        <sort>4</sort>
        <identifier>basic:saleClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110401</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:saleClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110402</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:saleClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110403</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:saleClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110500</id>
        <name>结算方式</name>
        <type>MENU</type>
        <url>/basic/settlementClass/list</url>
        <sort>5</sort>
        <identifier>basic:settlementClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110501</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:settlementClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110502</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:settlementClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110503</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:settlementClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110600</id>
        <name>部门设置</name>
        <type>MENU</type>
        <url>/basic/department/list</url>
        <sort>6</sort>
        <identifier>basic:department:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110601</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:department:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110602</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:department:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110603</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:department:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110700</id>
        <name>职位设置</name>
        <type>MENU</type>
        <url>/basic/position/list</url>
        <sort>7</sort>
        <identifier>basic:position:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110701</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:position:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110702</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:position:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110703</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:position:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110800</id>
        <name>员工信息</name>
        <type>MENU</type>
        <url>/basic/employee/list</url>
        <sort>8</sort>
        <identifier>basic:employee:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110801</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:employee:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110802</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:employee:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110803</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:employee:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>110900</id>
        <name>税率信息</name>
        <type>MENU</type>
        <url>/basic/taxRate/list</url>
        <sort>9</sort>
        <identifier>basic:taxRate:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>110901</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:taxRate:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110902</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:taxRate:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>110903</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:taxRate:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111000</id>
        <name>单位信息</name>
        <type>MENU</type>
        <url>/basic/unit/list</url>
        <sort>10</sort>
        <identifier>basic:unit:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111001</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:unit:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111002</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:unit:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111003</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:unit:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111100</id>
        <name>账户信息</name>
        <type>MENU</type>
        <url>/basic/companyAccount/list</url>
        <sort>11</sort>
        <identifier>basic:companyAccount:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111101</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:companyAccount:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111102</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:companyAccount:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111103</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:companyAccount:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111200</id>
        <name>客户分类</name>
        <type>MENU</type>
        <url>/basic/customerClass/list</url>
        <sort>12</sort>
        <identifier>basic:customerClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111201</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:customerClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111202</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:customerClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111203</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:customerClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111300</id>
        <name>客户等级</name>
        <type>MENU</type>
        <url>/basic/customerLevel/list</url>
        <sort>13</sort>
        <identifier>basic:customerLevel:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111301</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:customerLevel:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111302</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:customerLevel:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111303</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:customerLevel:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111400</id>
        <name>送货方式</name>
        <type>MENU</type>
        <url>/basic/deliveryClass/list</url>
        <sort>14</sort>
        <identifier>basic:deliveryClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111401</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:deliveryClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111402</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:deliveryClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111403</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:deliveryClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111500</id>
        <name>仓库信息</name>
        <type>MENU</type>
        <url>/basic/warehouse/list</url>
        <sort>15</sort>
        <identifier>basic:warehouse:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111501</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:warehouse:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111502</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:warehouse:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111503</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:warehouse:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111600</id>
        <name>供应商分类</name>
        <type>MENU</type>
        <url>/basic/supplierClass/list</url>
        <sort>16</sort>
        <identifier>basic:supplierClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111601</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:supplierClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111602</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:supplierClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111603</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:supplierClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111700</id>
        <name>供应商信息</name>
        <type>MENU</type>
        <url>/basic/supplier/list</url>
        <sort>17</sort>
        <identifier>basic:supplier:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111701</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:supplier:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111702</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:supplier:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111703</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:supplier:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111800</id>
        <name>材料信息</name>
        <type>MENU</type>
        <url>/basic/material/list</url>
        <sort>18</sort>
        <identifier>basic:material:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111801</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:material:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111802</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:material:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111803</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:material:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>111900</id>
        <name>材料分类</name>
        <type>MENU</type>
        <url>/basic/materialClass/list</url>
        <sort>19</sort>
        <identifier>basic:materialClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>111901</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:materialClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111902</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:materialClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>111903</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:materialClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>112000</id>
        <name>产品信息</name>
        <type>MENU</type>
        <url>/basic/product/list</url>
        <sort>11</sort>
        <identifier>basic:product:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>112001</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:product:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>112002</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:product:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>112003</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:product:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
      <menu>
        <version>0</version>
        <id>112100</id>
        <name>产品分类</name>
        <type>MENU</type>
        <url>/basic/productClass/list</url>
        <sort>21</sort>
        <identifier>basic:productClass:list</identifier>
        <childrens>
          <menu>
            <version>0</version>
            <id>112101</id>
            <name>添加</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>1</sort>
            <identifier>basic:productClass:create</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>112102</id>
            <name>编辑</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>2</sort>
            <identifier>basic:productClass:edit</identifier>
            <childrens/>
          </menu>
          <menu>
            <version>0</version>
            <id>112103</id>
            <name>删除</name>
            <type>FUNCTION</type>
            <url></url>
            <sort>3</sort>
            <identifier>basic:productClass:del</identifier>
            <childrens/>
          </menu>
        </childrens>
      </menu>
    </childrens>
  </menu>
  <menu>
    <version>0</version>
    <id>120000</id>
    <name>采购管理</name>
    <type>MENU</type>
    <url></url>
    <sort>3</sort>
    <identifier></identifier>
    <childrens/>
  </menu>
</menus>